<!DOCTYPE html>  
<html>  
<head>  
    <title>Add</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>  
<body>  
    <h2>Employee Information</h2>   
    <form action = "/insert" method="post">  
    <table>  
        <tr><td>No. Registrasi :</td><td><input type="text" name="no_registrasi"></td></tr>
        <tr><td>Nama Lengkap (Sesuai KTP) :</td><td><input type="text" name="nama"></td></tr>
        <tr><td>Tempat/Tanggal Lahir :</td><td><input type="text" name="tempat_tanggal_lahir"></td></tr>
        <tr><td>NIK/NIP :</td><td><input type="text" name="nik_nip"></td></tr>
        <tr><td>Email Aktif :</td><td><input type="email" name="email"></td></tr>
        <tr><td>No HP Aktif :</td><td><input type="text" name="hp"></td></tr>
        <tr><td>No HP Wali/Atasan :</td><td><input type="text" name="hp_wali_atasan"></td></tr>
        <tr><td>Pekerjaan :</td><td><input type="text" name="pekerjaan"></td></tr>
        <tr><td>Alamat Domisili :</td><td><input type="text" name="alamat"></td></tr>
        <tr><td>Program Akademi :</td><td><input type="text" name="program_akademi"></td></tr>
        <tr><td>Tema Pelatihan :</td><td><input type="text" name="tema_pelatihan"></td></tr>
        <tr><td>Mitra Pelatihan :</td><td><input type="text" name="mitra_pelatihan"></td></tr>
        <tr><td><input type="submit" value="Submit" class="btn btn-primary"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 