<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Employee</title>  
</head>  
<body>  
    <h2>Employee Information</h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>No. Registrasi :</td><td><input type="text" name="no_registrasi"></td></tr>
        <tr><td>Nama Lengkap (Sesuai KTP) :</td><td><input type="text" name="nama"></td></tr>
        <tr><td>Tempat/Tanggal Lahir :</td><td><input type="text" name="tempat_tanggal_lahir"></td></tr>
        <tr><td>NIK/NIP :</td><td><input type="text" name="nik_nip"></td></tr>
        <tr><td>Email Aktif :</td><td><input type="email" name="email"></td></tr>
        <tr><td>No HP Aktif :</td><td><input type="text" name="hp"></td></tr>
        <tr><td>No HP Wali/Atasan :</td><td><input type="text" name="hp_wali_atasan"></td></tr>
        <tr><td>Pekerjaan :</td><td><input type="text" name="pekerjaan"></td></tr>
        <tr><td>Alamat Domisili :</td><td><input type="text" name="alamat"></td></tr>
        <tr><td>Program Akademi :</td><td><input type="text" name="program_akademi"></td></tr>
        <tr><td>Tema Pelatihan :</td><td><input type="text" name="tema_pelatihan"></td></tr>
        <tr><td>Mitra Pelatihan :</td><td><input type="text" name="mitra_pelatihan"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 