<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>  
<body>  

<h3>Employee Information</h3>
<table id="dtHorizontalVerticalExample" class="table table-hover table-bordered w-auto" cellspacing="0" width="100%">
    <thead>  
        <tr>
        <th><a class="btn btn-success" href="/add">Add</a></th>
        <th style="display:none;" scope="col">ID</th>
        <th scope="col">No. Registrasi</th> 
        <th scope="col">Nama Lengkap (Sesuai KTP)</th>
        <th scope="col">Tempat/Tanggal Lahir</th>  
        <th scope="col">NIK/NIP</th>
        <th scope="col">Email Aktif</th>  
        <th scope="col">No HP Aktif</th>
        <th scope="col">No HP Wali/Atasan</th>
        <th scope="col">Pekerjaan</th>
        <th scope="col">Alamat Domisili</th>
        <th scope="col">Program Akademi</th>
        <th scope="col">Tema Pelatihan</th>
        <th scope="col">Mitra Pelatihan</th>
    </tr>
    </thead>
      
    <tbody>
    {% for row in rows %}  
        <tr>
            <td><a class="btn btn-primary" href="/fk/{{row["id_employees"]}}">FK</a> <a class="btn btn-primary" href="/fpj/{{row["id_employees"]}}">FPJ</a> <a class="btn btn-danger" href="/delete/{{row["id_employees"]}}">Delete</a></td>
            <td style="display:none;">{{row["id_employees"]}}</td>
            <th scope="row">{{row["no_registrasi"]}}</th> 
            <th scope="row">{{row["nama"]}}</th>
            <td>{{row["tempat_tanggal_lahir"]}}</td>
            <td>{{row["nik_nip"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["hp"]}}</td>
            <td>{{row["hp_wali_atasan"]}}</td>
            <td>{{row["pekerjaan"]}}</td>
            <td>{{row["alamat"]}}</td>
            <td>{{row["program_akademi"]}}</td>
            <td>{{row["tema_pelatihan"]}}</td>
            <td>{{row["mitra_pelatihan"]}}</td>
        </tr>  
    {% endfor %}
</tbody>

<tfoot>  
    <tr>
        <th><a class="btn btn-success" href="/add">Add</a></th>
        <th style="display:none;" scope="col">ID</th>
        <th scope="col">No. Registrasi</th> 
        <th scope="col">Nama Lengkap (Sesuai KTP)</th>
        <th scope="col">Tempat/Tanggal Lahir</th>  
        <th scope="col">NIK/NIP</th>
        <th scope="col">Email Aktif</th>  
        <th scope="col">No HP Aktif</th>
        <th scope="col">No HP Wali/Atasan</th>
        <th scope="col">Pekerjaan</th>
        <th scope="col">Alamat Domisili</th>
        <th scope="col">Program Akademi</th>
        <th scope="col">Tema Pelatihan</th>
        <th scope="col">Mitra Pelatihan</th>
    </tr>
</tfoot>
</table>
<br><br>
</body>  
</html>  